nav {
    display: flex;
    top: 0;
    left: 0;
}
body {
    font-family : Work Sans, Arial, sans-serif;
    font-weight: 300;
    background: white;
}
nav img {
    width: 200px;
    margin-left: 150px;
}
nav ul {
    display: flex;
    margin-left: 400px;
    margin-top: 15px;
}
nav ul li {
    margin: 15px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #ababab;
}

.about {
    color: #00b39b;
}
nav ul li a:hover {
    color: #00b39b;
}
main {
    top: 0;
    margin-top: 10px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}
.image img {
    height: 100px;
}
.title {
    color: #00b39b;
    text-align: center;
   font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .3px;
    font-size: 37px;
    font-weight: 300;
}
.paragraphe {
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragraphe div {
    margin: 15px;
    width: 450px;
}
.paragraphe div p {
    color: #747474;
}

.bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.bloc22 img {
    margin-top: 40px;
    margin-left: 40px;
}
.bloc22 h1 {
    margin-left: 40px;
    color: white;
}
.bloc22 p {
    margin-left: 40px;
    color: white;
    font-size: 25px;
}

.bloc22{
    width: 300px;
    height: 40  0px;
    margin: 15px;
    border-radius: 15px;
}
.bloc1 {
    background-color: #00b39b;
}
.bloc2 {
    background-color: #3d83df;
}
.bloc3 {
    background-color: #1b2734;
}
.selection {
    margin-left: 40px;
    margin-top: 100px;
}
.selection select {
    background-color: transparent !important;
    border: none !important;
    text-decoration: underline;
    color: white;
    font-size: 20px;
}
.selection select option {
    color: black !important;
}
.vision {
    width: 350px;
}
.vision h4 {
    font-family : « Work Sans », sans-serif ;
    font-weight: 10;
    letter-spacing: -.3px;
    color: #00b39b;
    font-size: 25px;
}
.logo1 {
    margin-top: 25px;
}
.logo1 svg path {
    fill: #ababab;
}
.logo1 svg  path :hover{
    color: #00b39b;  
}

.Stats {
    height: 200;
    width: 100%;
    background: #e5faf8;
    background-image: linear-gradient(-45deg, rgba(0, 204, 177, .01) 5%, rgba(61, 199, 223, .1));
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.titre {
    width: 400px;
}
.titre img {
    height: 300px;
    margin-top: 370px;
}

.Stats1 
.Stats12 {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    text-align: center;
    margin-top: 40px;
}
.Stats12 div {
    width: 250px;
    background: white;
    height: 40  0px;
    margin: 15px;
    border-radius: 0px;
}
